<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/style.css">
  <title>Script McClaws - CV</title>
</head>


<body>

<div class="cv-heading">
    
  <img src="../static/developer-cat.png" alt="developer cat" width="200" />

  <div class="about">
    <h1>Script McClaws</h1>
    <p><em>Founder & CTO @ <a href="https://ImaginaryInc.dev"><b>ImaginaryInc</b></a></em></p>
    <p><b>Fouder & CTO by day, Software Engineer by night | Tech Innovator | Code Wizard</b></p>

    <div class="contact-details">
      <p>📞<em>Contact: <a href="mailto:paws@imaginaryinc.dev">paws@imaginaryinc.dev</a></em></p>
      <p>🌐<em>Website: <a href="http://www.imaginaryinc.dev" target="_blank">www.imaginaryinc.dev</a></em></p>
      <p>🐦<em>Twitter: @ScriptMcClaws</em></p>
      <p>💼<em>LinkedIn: linkedin.com/in/scriptmcclaws</em></p>
    </div>
  </div>
</div>

<hr>

<h2>Work Experience</h2>
<table class="work-experience">
  <thead>
    <tr>
      <th>Dates</th>
      <th>Work</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><em>2020-01 – Present</em></td>
      <td>Founder & CTO at ImaginaryInc</td>
    </tr>
    <tr>
      <td><em>2017-08 – 2019-12</em></td>
      <td>Senior C++ Software Engineer at TechPaws Inc.</td>
    </tr>
    <tr>
      <td><em>2015-09 – 2017-07</em></td>
      <td>Software Engineer at CodeWhiskers Labs</td>
    </tr>
  </tbody>
</table>

<hr>

<h2>Education</h2>
<p><b>Bachelor of Science in Computer Science</b></p>
<p><b>Meowster University</b> | <i>2011 – 2015</i></p>

<hr>
<h2>Technical Skills</h2>
<table class="tech-skills">
  <tr>
    <td>Programming Languages:</td>
    <td>C++, Python, JavaScript, Go, Rust</td>
  </tr>

  <tr>
    <td>Frameworks & Tools:</td>
    <td>Qt, Boost, Docker, Kubernetes, Git, Jenkins</td>
  </tr>

  <tr>
    <td>Cloud Platforms:</td>
    <td>AWS, Azure, GCP</td>
  </tr>

  <tr>
    <td>Database Technologies:</td>
    <td>PostgreSQL, MongoDB, Redis</td>
  </tr>

  <tr>
    <td>Software Engineering Practices:</td>
    <td>Test-Driven Development (TDD), Agile/Scrum, CI/CD, Microservices, DevOps</td>
  </tr>
</table>

<hr>
<p><a href="hobbies">My Hobbies</a></p>
<p><a href="contact-me">Contact Me</a></p>

</body>
</html>