<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Script McClaw</title>
  <link rel="stylesheet" href="static/style.css">
  <link rel="icon" href="static/images/cat-emoji.png" type="image/png">
</head>

<body>

<div class="landing-content">
  <img src="static/images/cloud.png" alt="cloud" class="top-cloud" />
  <h1>I'm Script McClaw</h1>
  <h2>a <u>dev</u>eloper.</h2>
  <img src="static/images/cloud.png" alt="cloud" class="bottom-cloud" />
  <br>
  <img src="static/images/mountain.png" alt="mountain">
</div>

<div class="main-content">
  <img
    src="static/images/developer-cat.png"
    alt="developer cat (Script McClaw)"
    width="200px"
    class="profile-img"
  />
  <h2>Hello.</h2>
  <p>I am a Founder & CTO @ ImaginaryInc.</p>
  <p>I love Tech Talks & Hackathons.</p>
  <hr>

  <h2>My Skills</h2>

  <div class="skill-row">
    <img src="https://media.giphy.com/media/LmNwrBhejkK9EFP504/giphy.gif" alt="cat typing">
    <div>
      <h3>Development</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium fugiat, repellat placeat, facere perspiciatis a non fugit molestias dolorum accusamus suscipit doloremque beatae, minima minus.</p>
    </div>
  </div>

  <div class="skill-row">
    <div>
      <h3>Engineering</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas tempore id vel, sapiente quasi deleniti nostrum sed provident dolor sequi explicabo, amet, magni magnam quibusdam.</p>
    </div>
    <img src="https://media.giphy.com/media/LmNwrBhejkK9EFP504/giphy.gif" alt="cat typing gif">
  </div>


<hr>

<div class="contact-me">
  <h2>Get In Touch</h2>
  <h3>If you love hot wings as much as I do.</h3>
  <p>Love hot wings as much as I do? Let's talk about how awesome they are! We can code while we eat hot wings!</p>
  <a class="btn" href="mailto:paws@imaginaryinc.dev">CONTACT ME</a>
</div>

</div>

<footer>
  <a href="https://linkedin.com">LinkedIn</a>
  <a href="https://twitter.com">Twitter</a>
  <a href="http://www.imaginaryinc.dev">Website</a>
  <p>© 2025 Script McClaw @ ImaginaryInc.</p>
</footer>

</body>

</html>
